* {
    font-family: Arial, sans-serif;
    border: 0;
    margin: 0;
}
.header {
    background-color: #1f2937;
    color: white;
    padding: 20px;
}
a {
    color: white;
}
.header-links {
    display: flex;
    justify-content: flex-end;
}
.header-logo {
    display: flex;
    justify-content: flex-start;
}
.body1 {
    background-color: #1f2937;
    color: white;
    padding: 10px;
}
.body2 {
    background-color: white;
    color: #1f2937;
}
div#b2header {
    justify-content: center;
}
li {
    display: flex;
    flex-direction: row;
}
button#button1 {
    background-color: #3882F6;
    color: white;
    border: 3px solid;
    border-radius: 5px;
    border-color: #3882F6;
}
button#button1:hover {
    cursor: pointer;
}
button#button1:active {
    transform: scale(0.97);
    box-shadow: 1px 1px 3px black;
}
.body3 {
    background-color: #e5e7eb;
    color: black;
    padding: 75px 150px;
    font-style: italic;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
#quote {
    justify-self: right;
}
#author-book {
    font-weight: 700;
}
.body4{
    margin: 50px;
}
div#CallToAction {
    background-color: #3882F6;
    color: white;
    padding: 30px 50px 30px 50px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
button#b4button {
    justify-self: flex-end;
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 0px 25px;
    font-weight: 600;
}
.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    padding: 28px;
    font-size: 13px;
}