* {
    font-family: Arial, sans-serif;
    border: 0;
    margin: 0;
}
.header {
    background-color: #1f2937;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
a {
    color: white;
}
.header-links {
    /* justify-self: flex-end; */
    padding: 5px 10px;
}
.header-logo {
    /* justify-content: flex-start; */
    margin: 10px 50px;
}
#seatown-logo {
    height: 75px;
    width: 75px;
    border: 5px solid #3882F6;
    border-radius: 90px;
}
.body1 {
    background-color: #1f2937;
    color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
}
.body2 {
    background-color: white;
    color: #1f2937;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h3#b2header {
 padding: 25px;
}
#b2l {
    display: flex;
    flex-direction: row;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
li {
    margin: 40px;
    padding-bottom: 80px;
}
li > p {
    width: 150px;
    text-align: center;
}
li > img {
    object-fit: cover;
    height: 100%;
    width: 150px;
    border-radius: 10px;
    border: 5px solid #1f2937;
    /* padding: 5px; */
}
button#button1 {
    background-color: #3882F6;
    color: white;
    border: 3px solid;
    border-radius: 5px;
    border-color: #3882F6;
}
button#button1:hover {
    cursor: pointer;
}
button#button1:active {
    transform: scale(0.97);
    box-shadow: 1px 1px 3px black;
}
.body3 {
    background-color: #e5e7eb;
    color: black;
    padding: 75px 150px;
    font-style: italic;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
#quote {
    justify-self: end;
}
#author-book {
    font-weight: 700;
    align-self: flex-end;
}
.body4{
    margin: 50px;
}
div#CallToAction {
    background-color: #3882F6;
    color: white;
    padding: 30px 50px 30px 50px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
button#b4button {
    justify-self: flex-end;
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 0px 25px;
    font-weight: 600;
}
.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    padding: 28px;
    font-size: 13px;
}